/bench/
/demo/
/esbuild
/esbuild.exe
/github/
/npm/esbuild-darwin-64/bin/esbuild
/npm/esbuild-freebsd-64/bin/esbuild
/npm/esbuild-freebsd-arm64/bin/esbuild
/npm/esbuild-linux-32/bin/esbuild
/npm/esbuild-linux-64/bin/esbuild
/npm/esbuild-linux-arm64/bin/esbuild
/npm/esbuild-linux-ppc64le/bin/esbuild
/npm/esbuild-wasm/browser.js
/npm/esbuild-wasm/esbuild.wasm
/npm/esbuild-wasm/lib/
/npm/esbuild-wasm/wasm_exec.js
/npm/esbuild-windows-32/esbuild.exe
/npm/esbuild-windows-64/esbuild.exe
/npm/esbuild/install.js
/npm/esbuild/lib/
/parcel2/
/scripts/.end-to-end-tests/
/scripts/.js-api-tests/
/scripts/.verify-source-map/
node_modules/
